<!DOCTYPE html>
<html lang="en-us">
	<head>
                <meta charset="utf-8">
                <title>Link Shortener</title>
                <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
                <link rel="stylesheet" href="static/css/default.css">
                <link rel="stylesheet" href="static/css/bootstrap.css">
                <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
                <link rel="stylesheet" href="static/css/bootstrap-responsive.css">
                <link rel="stylesheet" href="static/css/styles.css">
                <script src="http://code.jquery.com/jquery-latest.js"></script>
                <script type="text/javascript" src="static/css/bootstrap.js"></script>
                <script type="text/javascript" src="static/css/script.js"></script>		
	</head>
	<body>
	
		<div class="navbar navbar-inverse">
  			<div class="navbar-inner">
    			<a class="brand" href="/~arenold/server/">Link Shortener</a>
  			</div>
		</div>
		
		<div class="container">
			<h2>{{ short }} is not a valid Short!</h2>
			<img src="http://cdn.memegenerator.net/instances/400x/28537959.jpg" class="rounded">
		</div>
	</body>
</html>
